@use '../../../styles/variables' as *;

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-background;
}

.main {
    flex-grow: 1;
    padding-top: 64px; // Header height
}
